:root {
    /* --border-px: 1px; */
    --global-color: #0046F9;
    /* --max-width: 500px; */
    /* --main-font: 'Montserrat Alternates', sans-serif; */
}
.main_wrapper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 1344px;
    height: auto;
    font-family: Arial, sans-serif;
    border: var(--border-px) solid black;
}
.left_wrapper, .right_wrapper {
    width: 670px;
    height: 440px;
    float: left;
    border: var(--border-px) solid green;
}
.textarea_wrapper {
    float: left;
    border: var(--border-px) solid red;
}
textarea {
    width: 100%;
    height: 130px;
    padding: 10px;
    /* font-family: Arial, sans-serif; */
    font-size: 14px;
    /* white-space: nowrap; */
}
#input_area_wrapper {
    width: 648px;
    margin-right: 52px;
}
#output_area_wrapper {
    width: 618px;
}
.button_wrapper {
    display: block;
    /* float: left; */
    width: 272px;
}
.imgarea_wrapper {
    width: auto;
    float: left;
    margin-top: 70px;
    margin-left: 30px;
    border: var(--border-px) solid red;
}
.option_label {
    display: block;
}
.option_textfield {
    display: inline-block;
    margin-bottom: 12px;
    width: 150px;
    height: 20px;
    /* font-family: Arial, sans-serif; */
    font-size: 20px;
}
#header_option {
    margin-left: 35px;
}
#filename_option {
    text-align: right;
}
button {
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 18px;
    padding: 6px 0px 6px 0px;
    /* font-family: Arial, sans-serif; */
    font-weight: bold;
    font-size: 22px;
    line-height: 1.3;
    overflow: hidden;
    text-align: center;
    color: white;
    border: 1px solid var(--global-color);
    background-color: var(--global-color);
    cursor: pointer;
    transition: width .5s;
}
.button_icon {
    margin-top: -5px;
    margin-right: -10px;
    height: 36px;
    vertical-align: middle;
}
.animate_width {
    width: 190px;
}
.error {
    color: red;
}
.small_emoji {
    position: relative;
    top: -3px;
    font-size: 16px;
}

/* W3S checkboxes */
/* Customize the label (the container) */
.container {
    display: inline-block;
    position: relative;
    padding-top: 2px;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-right: 30px;
    cursor: pointer;
    font-family: Arial;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: var(--global-color);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* Counter */
  .counter {
    text-align: center;
    /* visibility: hidden; */
  }